<p id="notice"><%= notice %></p>

<h1>Microposts</h1>

<% @microposts.in_groups_of(1) do |group| %>
  <div class="row">
    <% group.compact.each do |micropost| %>
      <div class="col-md-4">
                <h4><%= link_to micropost.content, micropost %></h4>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Micropost', new_micropost_path %>
